<div>
  <div class="para-header">מיסים ישירים</div>
  <div class="para">מס שנקבע כחלק מתוך מקור הכנסה מסוים. למשל מס הכנסה ליחידים שמוטל על משכורת במקום העבודה, תשלומי
    הביטוח הלאומי ומס חברות המוטל על פדיון של חברה. </div>

  <div class="para-header">מיסים עקיפים</div>
  <div class="para">מס המוטל על מוצר מסוים בעת רכישתו, ונקבע כחלק ממחיר המוצר. למשל מס ערך מוסף המוטל כמעט כל המוצרים;
    מכס, המוטל על מוצרים מיובאים, ועוד.</div>

  <div class="big-header">מה ההבדל?</div>
  <div class="para-header">מיסים ישירים הם מיסים פרוגרסיביים </div>
  <div class="para">מס פרוגרסיבי הוא מס שאחוז התשלום שלו מסך ההכנסה עולה עם דרגת ההכנסה. כלומר, אדם עשיר ישלם אחוז גבוה
    יותר מהכנסתו על מס זה מאשר לאדם עני. מיסים פרוגרסיביים משמשים בין היתר לחלוקה מחדש של ההכנסה. חלוקה מחדש נעשית כאשר
    הממשלה גובה מס מבעלי הכנסה גבוהה ומשתמשת בו לתשלומי העברה לאזרחים כמו קצבאות זקנה, ילדים, ועוד.
  </div>

  <div class="chart-container">
    <chart [data]='taxPercentagesData' [layout]='taxPercentagesLayout'></chart>
  </div>

  <div class="para">
    ניתן לראות כיצד ככל שההכנסה עולה, בעליה נדרש לשלם חלק גדול יותר ממנה כמס. נניח שאדם הרוויח בחודש אחד 53,400 שקלים,
    מתוך כל שקל נוסף שירוויח ילכו 50 אגורות למס הכנסה.
  </div>

  <div class="para-header">מיסים עקיפים הם מיסים רגרסיביים</div>
  <div class="para">
    מס רגרסיבי הוא מס שאחוז התשלום שלו מסך ההכנסה יורד ככל שההכנסה גבוהה יותר. מיסים עקיפים אמנם מחושבים כאחוז קבוע מתוך
    הצריכה, אך בעלי הכנסה נמוכה מוציאים חלק גדול יותר מהכנסתם על צריכה מאשר בעלי הכנסה גבוהה, שמשתמשים בחלק גדול יותר
    מהכנסתם לחיסכון.
  </div>

  <div class="para extra-links">
    <div class="extra-links-header">אם אתם מעוניינים לקרוא עוד על הנושא הנה מספר אתרים שאולי יענינו אתכם:</div>

    <ul>
      <li><a href="https://www.gov.il/he/departments/topics/subject-state-revenues/govil-landing-page">אגף הכלכלנית
          הראשית -
          חטיבת מאקרו ותקציב באגף החשב הכללי מייצרת בזמן אמת אומדן ראשוני של ביצוע התקציב ברמת
          המסגרות המקרו-כלכליות, כגון גירעון הממשלה, מימון הגירעון, הוצאות והכנסות הממשלה.</a></li>
      <li><a href="https://www.gov.il/he/departments/topics/subject-budget-execution/govil-landing-page">אגף החשב הכללי
          - חטיבת מאקרו ותקציב באגף החשב הכללי מייצרת בזמן אמת אומדן ראשוני של ביצוע התקציב ברמת המסגרות המקרו-כלכליות,
          כגון גירעון הממשלה, מימון הגירעון, הוצאות והכנסות הממשלה.</a></li>
      <li><a href="https://kohelet.org.il/tag/%D7%9B%D7%9C%D7%9B%D7%9C%D7%94">פורום קהלת -
          מכון מחקר ומעשה עצמאי שבין השאר מפרסם ניירות מדיניות העוסקות בכלכלת ישראל.</a></li>
    </ul>
  </div>

</div>