<div>
  <div class="para-header">מיסים ישירים</div>
  <div class="para">מס שנקבע כחלק מתוך מקור הכנסה מסוים. למשל מס הכנסה ליחידים שמוטל על משכורת במקום העבודה, תשלומי
    הביטוח הלאומי ומס חברות המוטל על פדיון של חברה. </div>

  <div class="para-header">מיסים עקיפים</div>
  <div class="para">מס המוטל על מוצר מסוים בעת רכישתו, ונקבע כחלק ממחיר המוצר. למשל מס ערך מוסף המוטל כמעט כל המוצרים;
    מכס, המוטל על מוצרים מיובאים, ועוד.</div>

  <div class="big-header">מה ההבדל?</div>
  <div class="para-header">מיסים ישירים הם מיסים פרוגרסיביים </div>
  <div class="para">מס פרוגרסיבי הוא מס שאחוז התשלום שלו מסך ההכנסה עולה עם דרגת ההכנסה. כלומר, אדם עשיר ישלם אחוז גבוה
    יותר מהכנסתו על מס זה מאשר לאדם עני. מיסים פרוגרסיביים משמשים בין היתר לחלוקה מחדש של ההכנסה. חלוקה מחדש נעשית כאשר
    הממשלה גובה מס מבעלי הכנסה גבוהה ומשתמשת בו לתשלומי העברה לאזרחים כמו קצבאות זקנה, ילדים, ועוד.
  </div>

  <div class="chart-container">
    <chart [data]='taxPercentagesData' [layout]='taxPercentagesLayout'></chart>
  </div>

  <div class="para">
    ניתן לראות כיצד ככל שההכנסה עולה, בעליה נדרש לשלם חלק גדול יותר ממנה כמס. נניח שאדם הרוויח בחודש אחד 53,400 שקלים,
    מתוך כל שקל נוסף שירוויח ילכו 50 אגורות למס הכנסה.
  </div>

  <div class="para-header">מיסים עקיפים הם מיסים רגרסיביים</div>
  <div class=" para">
    מס רגרסיבי הוא מס שאחוז התשלום שלו מסך ההכנסה יורד ככל שההכנסה גבוהה יותר. מיסים עקיפים אמנם מחושבים כאחוז קבוע מתוך
    הצריכה, אך בעלי הכנסה נמוכה מוציאים חלק גדול יותר מהכנסתם על צריכה מאשר בעלי הכנסה גבוהה, שמשתמשים בחלק גדול יותר
    מהכנסתם לחיסכון.
  </div>

  <div class="chart-container">
    <chart [data]='taxTypesData' [layout]='taxTypesLayout'></chart>
  </div>

  <div class="para">
    מהתרשים ניתן לראות כי החל מסוף שנות ה-70' ירדו תקבולי המיסים כשיעור מהתוצר מסך כולל של מעל 40% לכ-30%, בעיקר באמצעות
    הורדת המיסים הישירים משיעור של כ-25% ל-15% . בנוסף בשנים אלו ירדה דרמטית ההוצאה הציבורית כחלק מהתוצר, משיעור של
    כ-75% ל- 40%. ההוצאה הציבורית היא הוצאת המדינה בכלל התחומים וביניהם חינוך, בריאות, תחבורה ורווחה. שירותים אלו
    מיועדים בעיקר לבעלי ההכנסה הנמוכה המתקשים לרכוש אותם מכספם. הורדת המיסים הישירים לצד הורדת ההוצאה הציבורית מעבירה
    הכנסה ממקבלי השירותים הציבוריים למשלמי המיסים, כלומר לוקחת כסף מבעלי ההכנסה הנמוכה ומעבירה אותו לבעלי ההכנסה הגבוהה.
    המדיניות הזאת מייצגת השקפת עולם שרואה – בין היתר – בהקטנת הוצאות הממשלה והקטנת נטל המס יעדים חשובים בפני עצמם,
    ונקראת מדיניות "ניאו-ליברלית". המגמה הזאת משותפת למדינות מערביות רבות החל מהתקפה שאחרי נפילת ברית המועצות. עם זאת,
    בישראל הצמצום בהוצאה הציבורית היה חריף ביותר.
  </div>

  <div class="table-container">
    <table>
      <tr class='table-headers'>
        <td>
          הפרש
        </td>
        <td>
          OECD
        </td>
        <td>
          ישראל
        </td>
        <td>
          סוג המס
        </td>
      </tr>

      <tr>
        <td>
          -3.4
        </td>
        <td>
          22.8
        </td>
        <td>
          19.4
        </td>
        <td>
          מסים ישרים
        </td>
      </tr>

      <tr>
        <td>
          +1.0
        </td>
        <td>
          10.9
        </td>
        <td>
          11.9
        </td>
        <td>
          מיסים עקיפים
        </td>
      </tr>

      <tr>
        <td>
          -2.4
        </td>
        <td>
          33.7
        </td>
        <td>
          31.3
        </td>
        <td>
          סה"כ
        </td>
      </tr>
    </table>
  </div>

  <div class="para">
    מהטבלה ניתן לראות ששיעור המיסים הישירים (הפרוגרסיביים, אלו שמקילים על השכבות החלשות) נמוך יותר בישראל מאשר בשאר
    המדינות המפותחות, ואילו שיעור המיסים העקיפים (הרגרסיביים, המקשים על השכבות החלשות) גבוה יותר. נראה אולי שמדובר
    בפערים קטנים, אך הגדלים הם באחוזי תוצר. בשנת 2015 התמ"ג הישראלי עמד על 300 מיליארד דולר, כך שכל אחוז ממנו הוא הבדל
    גדול. בנוסף, ניתן לראות שנטל המס בישראל קטן מאשר במדינות המפותחות, כפי שהזכרנו קודם, ישראל נקטה במדיניות
    ניאו-ליברלית חריפה במיוחד, שמקטינה את תפקידה הכלכלי של המדינה ולפיכך מקטינה את הוצאותיה והכנסותיה.
    מהגרף בעמוד הקודם, ניתן לראות שהפער הזה הצטמצם בשנים האחרונות, משום שגם המיסים הישירים עברו מגמת ירידה.
  </div>
</div>