<div>
  <div class="para-header">מיסים ישירים</div>
  <div class="para">
    מס שנקבע כחלק מתוך מקור הכנסה מסוים. למשל מס הכנסה ליחידים שמוטל על משכורת
    במקום העבודה, תשלומי הביטוח הלאומי ומס חברות המוטל על פדיון של חברה.
  </div>

  <div class="para-header">מיסים עקיפים</div>
  <div class="para">
    מס המוטל על מוצר מסוים בעת רכישתו, ונקבע כחלק ממחיר המוצר. למשל מס ערך מוסף
    המוטל כמעט כל המוצרים; מכס, המוטל על מוצרים מיובאים, ועוד.
  </div>

  <div class="big-header">מה ההבדל?</div>
  <div class="para-header">מיסים ישירים הם מיסים פרוגרסיביים</div>
  <div class="para">
    מס פרוגרסיבי הוא מס שאחוז התשלום שלו מסך ההכנסה עולה עם דרגת ההכנסה. כלומר,
    אדם עשיר ישלם אחוז גבוה יותר מהכנסתו על מס זה מאשר לאדם עני. מיסים
    פרוגרסיביים משמשים בין היתר לחלוקה מחדש של ההכנסה. חלוקה מחדש נעשית כאשר
    הממשלה גובה מס מבעלי הכנסה גבוהה ומשתמשת בו לתשלומי העברה לאזרחים כמו קצבאות
    זקנה, ילדים, ועוד.
  </div>

  <div class="chart-container">
    <chart [data]="taxPercentagesData" [layout]="taxPercentagesLayout"></chart>
  </div>

  <div class="para">
    ניתן לראות כיצד ככל שההכנסה עולה, בעליה נדרש לשלם חלק גדול יותר ממנה כמס.
    נניח שאדם הרוויח בחודש אחד 53,400 שקלים, מתוך כל שקל נוסף שירוויח ילכו 50
    אגורות למס הכנסה.
  </div>

  <div class="para-header">מיסים עקיפים הם מיסים רגרסיביים</div>
  <div class="para">
    מס רגרסיבי הוא מס שאחוז התשלום שלו מסך ההכנסה יורד ככל שההכנסה גבוהה יותר.
    מיסים עקיפים אמנם מחושבים כאחוז קבוע מתוך הצריכה, אך בעלי הכנסה נמוכה
    מוציאים חלק גדול יותר מהכנסתם על צריכה מאשר בעלי הכנסה גבוהה, שמשתמשים בחלק
    גדול יותר מהכנסתם לחיסכון.
  </div>

  <div class="big-header">משוואת הגרעון ומימונו</div>
  <div class="para">
    עלינו להתוודות שלא דייקנו בהצגת הנתונים על הכנסות המדינה, למעשה יש תקבולים
    נוספים שלא נכלל בהכנסות המדינה: הלוואות ותקבולי הפרטה למימון הגרעון. <br />
    בכדי להבין את מהות תקבולים אלו נבהיר עוד כמה מושגים.
  </div>
  <div class="para-header">גירעון/ עודף</div>
  <div class="para">
    הגירעון/העודף התקציבי של הממשלה מבטא את ההפרש בין סך כל הוצאות הממשלה בתקציב
    לקניית סחורות, שירותים, ביצוע השקעות ותשלומי הריבית לבין הכנסותיה מגביית
    מסים, אגרות, דיווידנדים ותמלוגים. לעתים נוהגים לא לכלול בגירעון את פעילות
    הממשלה הקשורה להלוואות: בצד ההוצאות - קבלת הלוואות ובצד ההכנסות - גביית
    החזרי הקרן על הלוואות שניתנו בעבר . פעילות זאת נקראת "קבלת אשראי נטו"
    והגירעון ללא פעילות זו נקרא: גירעון/עודף ללא מתן אשראי נטו, זה הגירעון אליו
    מתייחס "חוק הפחתת הגירעון" והוא המדובר בתקשורת ובחדשות.
  </div>
  <div class="para-header">מימון הגירעון</div>
  <div class="para">
    את הגירעון (הכולל "קבלת אשראי נטו") צריך לממן, כדי להבין את המושג "מימון"
    נבהיר בעזרת דוגמה מתקציב משק הבית של משפחה. <br />
    למשפחה יש הוצאות שוטפות: מזון, חינוך, תחזוקה, שכ"ד ועוד ויש לה הכנסות
    שוטפות: משכורות בני הזוג וגם תמיכה חודשית מהדודה באמריקה. אבל ההוצאות גבוהות
    מההכנסות, למשפחה יש "גירעון". מאיפה מממנים את החוסר? אם יש חיסכון או יתרת
    מזומנים חיובית בבנק – מנצלים אותם, כשהן נגמרים מה עושים? לווים כסף מהבנק או
    מחברים או מוכרים רכוש (את התכשיטים שבת הזוג קיבלה לחתונה). <br />
    כנ"ל הממשלה, למימון הגירעון הממשלה לווה כספים מהציבור ומבנקים או מוכרת רכוש.
    אם לממשלה יש יתרות מזומנים בבנק שלה (בנק ישראל) אפשר לנצל אותן למימון
    הגירעון אבל הממשלה אינה מורשית לעשות "אובדרפט" – משיכת יתר כי לפי החוק בנק
    ישראל אינו מורשה לתת לממשלה הלוואה למימון הגירעון שלה. <br />
    הממשלה לווה מהציבור באמצעות הנפקת אגרות חוב. הנפקה בארץ נקראת "גיוס הון
    מקומי" והנפקה בחו"ל נקראת "גיוס הון בחו"ל". <br />
    הממשלה "מוכרת רכוש" על ידי הפרטת חברות ממשלתיות שבבעלותה ובשנים האחרונות
    בעיקר על ידי מכירת קרקע (באמצעות רשות מקרקעי ישראל). מכירת הרכוש על ידי
    הממשלה נקראת גם "הפרטה". <br />
    נוסף על מימון הגירעון הממשלה לווה כדי למחזר את פירעון הלוואות שלקחה בעבר
    בכדי לממן את הגירעונות שהיו לה בשנים קודמות. זה אומר שכאשר הממשלה לווה
    ("מגייסת הון") היא קודם כל לווה לצורך החזר חובות העבר ורק הגיוס מעבר לכך רק
    הוא מממן את הגירעון. <br />
    גיוס ההון פחות פירעון הקרן (של הלוואות העבר) נקרא: "גיוס הון נטו". <br />
    מכאן שהגירעון ממומן על ידי גיוס הון נטו (מקומי ובחו"ל) והפרטה. מימון יתר על
    ידי גיוס הון נטו והפרטה גורר עלייה ביתרות המזומנים של הממשלה בבנק ישראל
    ומימון חסר – ירידה ביתרות (אם יש), מכאן שמשוואת הגירעון ומימונו נראית כך:
    <br />
    <div style="width: 100%; margin: 3rem 0; font-size: 3rem;">
      גירעון = גיוס הון נטו + הפרטה + שינוי יתרות בבנקים.
    </div>
    <div style="margin-right: auto;margin-left: auto; display:flex; justify-content: center;;" *ngIf="giraon">
      <category-visualization [category]="giraon" data-kind="func"></category-visualization>
    </div>
  </div>

  <!-- TODO: Graph -->

  <div class="para">
    בחוק יש מגבלה על גובה הגירעון התקציבי השנתי המותר כאחוז מהתוצר ובדרך כלל
    נקבע תוואי יורד של הגירעון לאורך השנים הבאות.. יעד הגירעון שנקבע בחוק הינו
    תכנוני בתקציב, כמובן שבביצוע בפועל יתכן גירעון גבוה או נמוך יותר, הממשלה
    יכולה לשלוט על גובה הגירעון בפועל על ידי כיווץ הוצאות או ניסיון להגביר
    הכנסות. <br />
    ככל שהגירעון של המדינה גבוה יותר ויש הלוואות רבות יותר שעליה להחזיר – הוצאות
    הריבית יהיו גבוהות יותר. ומכיוון שהוצאות הריבית נכללות במגבלת ההוצאה
    ובגירעון, (שהם הכללים הפיסקליים בתכנון התקציב) מצטמצמות דרגות החופש של
    הממשלה בתכנון התקציב לשנים הבאות. <br />
    אם אתם רוצים להמשיך לקרוא עוד על הגרעון ותקציב המדינה אתם מוזמנים לקפוץ לאתר
    <a href="https://main.knesset.gov.il/About/Pages/Budget/BudgetInfo1.aspx">הכנסת</a>
    שמפרט על נושאים אלו בצורה מצוינת <br />
    <small>[מקור: צוות "מקור הכסף" ואבישר כהן]</small>
  </div>

  <div class="para extra-links">
    <div class="extra-links-header">
      אם אתם מעוניינים לקרוא עוד על הנושא הנה מספר אתרים שאולי יענינו אתכם:
    </div>

    <ul>
      <li>
        <a href="https://www.gov.il/he/departments/topics/subject-state-revenues/govil-landing-page">אגף הכלכלנית הראשית
        </a>
        - באתר מוצגים דוחות תקופתיים של מינהל הכנסות המדינה, בפורמאט חדש ונגיש
        לציבור. דוחות אלו מציגים את ההתפתחויות בגביית המסים בישראל ומהווה כלי
        חשוב להכרת מערכת המס ולקביעת מדיניות המס בישראל
      </li>
      <li>
        <a href="https://www.gov.il/he/departments/topics/subject-budget-execution/govil-landing-page">אגף החשב
          הכללי</a>
        - חטיבת מאקרו ותקציב באגף החשב הכללי מייצרת בזמן אמת אומדן ראשוני של
        ביצוע התקציב ברמת המסגרות המקרו-כלכליות, כגון גירעון הממשלה, מימון
        הגירעון, הוצאות והכנסות הממשלה.
      </li>
      <li>
        <a href="https://www.boi.org.il/he/Research/Pages/Default.aspx">חטיבת המחקר של בנק ישראל</a>
        - המפרטת בין השאר על פעילות המגזר הציבורי בנוגע להכנסות ותקציב המדינה,
        הגרעון ומימון הגרעון.
      </li>
    </ul>
  </div>
</div>