<div class="tax-selection">
  <button class="tax-btn active" (click)="changeTax($event, 1)">
    דלק <br />
    <span id="tax1-cng" class="tax-cng">({{ formatNum(taxes[1].diff) }}₪)</span>
  </button>
  <button class="tax-btn" (click)="changeTax($event, 2)">
    מע"מ <br />
    <span id="tax2-cng" class="tax-cng">({{ formatNum(taxes[2].diff) }}₪)</span>
  </button>
  <button class="tax-btn" (click)="changeTax($event, 3)">
    טבק <br />
    <span id="tax3-cng" class="tax-cng">({{ formatNum(taxes[3].diff) }}₪)</span>
  </button>
</div>
<div class="tax-input">
  <div [hidden]="!(currTax == 'delek')">
    <p>
      <app-single-value-tax
        (onChange)="taxes[1].diff = $event.value; tax1Cng = $event.rate"
        tax_type="delek"
      ></app-single-value-tax>
    </p>
  </div>

  <div [hidden]="!(currTax == 'maam')">
    <p>
      <app-single-value-tax
        (onChange)="taxes[2].diff = $event.value; tax2Cng = $event.rate"
        tax_type="maam"
      ></app-single-value-tax>
    </p>
  </div>

  <div [hidden]="!(currTax == 'tabak')">
    <p>
      <app-single-value-tax
        (onChange)="taxes[3].diff = $event.value; tax3Cng = $event.rate"
        tax_type="tabak"
      ></app-single-value-tax>
    </p>
  </div>
</div>
<div class="tax-result">
  <p>
    הכנסות נוכחיות <br />
    <span id="curr-inc">{{ formatNum(totalIncome) }}</span
    >₪
  </p>
  <p>
    הפרש <br />
    <span id="diff">{{ formatNum(totalDiff()) }}</span
    >₪
  </p>
  <p>
    הכנסות חדשות <br />
    <span id="new-inc">{{ formatNum(totalIncome + totalDiff()) }}</span
    >₪
  </p>
</div>
