<div style="text-align: center;">
  <p class="title">
    ברוכים הבאים למשחק המסים!
  </p>
  <p>
    משחק זה נועד לאפשר לאזרח הפשוט להכנס לרגע אחד לנעלי הרשות המחוקקת ולקבוע מחדש את המסים במדינה
    <br/>
    כאן תוכלו לשנות את הגודל של מס מסוים, לראות איך הוא משנה את מאזן הכנסות המדינה, להבין כיצד תצטרכו לשנות מסים אחרים כדי לחפות על העדכון שלכם, ועוד!
  </p>
  <p>
    נסו ללחוץ על שם המס כדי לעבור לשחק עם מס אחר, או ללחוץ "ביטול המס" או "התעלמות מהשינויים" על כל אחד מהמסים, גם אם אתם משחקים עם מס אחר באותו רגע
  </p>
  <p>
    בחלון למטה תוכלו לראות את ההשפעה של המשחק שלכם על המספרים
  </p>
</div>

<div class="tax-selection">
  <div class="tax-btns">
    <button class="tax-btn active" (click)="changeTax($event, 1)">
      דלק <br />
      <span class="tax-cng">({{ formatNum(taxes[1].diff) }}₪)</span>
    </button>
    <div>
      <button class="status-btn status-1" (click)="changeStatus($event, 1, 2)">
        ביטול המס <br />
        <span class="tax-cng">המס יוריד {{ formatNum(taxes[1].total) }}₪</span>
      </button>
      <button class="status-btn status-1" (click)="changeStatus($event, 1, 1)">
        התעלמות מהשינויים <br />
        <span class="tax-cng">השינויים שנעשו במס לא ישפיעו על המאזן</span>
      </button>
    </div>
  </div>

  <div class="tax-btns">
    <button class="tax-btn" (click)="changeTax($event, 2)">
      מע"מ <br />
      <span class="tax-cng">({{ formatNum(taxes[2].diff) }}₪)</span>
    </button>
    <div>
      <button class="status-btn status-2" (click)="changeStatus($event, 2, 2)">
        ביטול המס<br />
        <span class="tax-cng">המס יוריד {{ formatNum(taxes[2].total) }}₪</span>
      </button>
      <button class="status-btn status-2" (click)="changeStatus($event, 2, 1)">
        התעלמות מהשינויים <br />
        <span class="tax-cng">השינויים שנעשו במס לא ישפיעו על המאזן</span>
      </button>
    </div>
  </div>

  <div class="tax-btns">
    <button class="tax-btn" (click)="changeTax($event, 3)">
      טבק <br />
      <span class="tax-cng">({{ formatNum(taxes[3].diff) }}₪)</span>
    </button>
    <div>
      <button class="status-btn status-3" (click)="changeStatus($event, 3, 2)">
        ביטול המס<br />
        <span class="tax-cng">המס יוריד {{ formatNum(taxes[3].total) }}₪</span>
      </button>
      <button class="status-btn status-3" (click)="changeStatus($event, 3, 1)">
        התעלמות מהשינויים <br />
        <span class="tax-cng">השינויים שנעשו במס לא ישפיעו על המאזן</span>
      </button>
    </div>
  </div>
</div>

<div class="tax-input">
  <div [hidden]="!(currTax == 'delek')">
    <p>
      <app-single-value-tax
        (onChange)="taxes[1].diff = $event.value; taxes[1].cng = $event.rate"
        (onLoad)="taxes[1].total = $event.total"
        tax_type="delek"
      ></app-single-value-tax>
    </p>
  </div>

  <div [hidden]="!(currTax == 'maam')">
    <p>
      <app-single-value-tax
        (onChange)="taxes[2].diff = $event.value; taxes[2].cng = $event.rate"
        (onLoad)="taxes[2].total = $event.total"
        tax_type="maam"
      ></app-single-value-tax>
    </p>
  </div>

  <div [hidden]="!(currTax == 'tabak')">
    <p>
      <app-single-value-tax
        (onChange)="taxes[3].diff = $event.value; taxes[3].cng = $event.rate"
        (onLoad)="taxes[3].total = $event.total"
        tax_type="tabak"
      ></app-single-value-tax>
    </p>
  </div>
</div>

<div style="text-align: center">
  <div class="tax-result">
    <p>
      הכנסות נוכחיות <br />
      <span class="res-value" id="curr-inc">{{ formatNum(totalIncome) }}</span>₪
    </p>
    <p>
      הפרש <br />
      <span class="res-value" id="diff">{{ formatNum(totalDiff()) }}</span>₪
    </p>
    <p>
      הכנסות חדשות <br />
      <span class="res-value" id="new-inc">{{ formatNum(totalIncome + totalDiff()) }}</span>₪
    </p>
  </div>
</div>
<div style="text-align: center;">
  <p>[הנתונים נכונים לשנת 2020]</p>
</div>
