<div style="text-align: center; font-size: 2rem;">
  <p class="title" style="font-size: 2.5rem;">
    ברוכים הבאים למשחק המסים!
  </p>
  <p>
    משחק זה נועד לאפשר לאזרח הפשוט להכנס לרגע אחד לנעלי הרשות המחוקקת ולקבוע מחדש את המסים במדינה
    <br/>
    כאן תוכלו לשנות את הגודל של מס מסוים, לראות איך הוא משנה את מאזן הכנסות המדינה, להבין כיצד תצטרכו לשנות מסים אחרים כדי לחפות על העדכון שלכם, ועוד!
  </p>
  <p>
    נסו ללחוץ על שם המס כדי לעבור לשחק עם מס אחר, או ללחוץ "ביטול המס" או "התעלמות מהשינויים" על כל אחד מהמסים, גם אם אתם משחקים עם מס אחר באותו רגע
  </p>
  <p>
    בחלון למטה תוכלו לראות את ההשפעה של המשחק שלכם על המספרים
  </p>
</div>

<div class="tax-selection">
  <div class="tax-btns">
    <button class="tax-btn active" (click)="changeTax($event, 1)">
      דלק <br />
      <span class="tax-cng">({{ formatNum(taxes[1].diff) }}₪)</span>
    </button>
    <div>
      <button class="status-btn status-1" (click)="changeStatus($event, 1, 2)">
        ביטול המס <br />
        <span class="tax-cng">המס יוריד {{ formatNum(taxes[1].total) }}₪</span>
      </button>
      <button class="status-btn status-1" (click)="changeStatus($event, 1, 1)">
        התעלמות מהשינויים <br />
        <span class="tax-cng">השינויים שנעשו במס לא ישפיעו על המאזן</span>
      </button>
    </div>
  </div>

  <div class="tax-btns">
    <button class="tax-btn" (click)="changeTax($event, 2)">
      מע"מ <br />
      <span class="tax-cng">({{ formatNum(taxes[2].diff) }}₪)</span>
    </button>
    <div>
      <button class="status-btn status-2" (click)="changeStatus($event, 2, 2)">
        ביטול המס<br />
        <span class="tax-cng">המס יוריד {{ formatNum(taxes[2].total) }}₪</span>
      </button>
      <button class="status-btn status-2" (click)="changeStatus($event, 2, 1)">
        התעלמות מהשינויים <br />
        <span class="tax-cng">השינויים שנעשו במס לא ישפיעו על המאזן</span>
      </button>
    </div>
  </div>

  <div class="tax-btns">
    <button class="tax-btn" (click)="changeTax($event, 3)">
      טבק <br />
      <span class="tax-cng">({{ formatNum(taxes[3].diff) }}₪)</span>
    </button>
    <div>
      <button class="status-btn status-3" (click)="changeStatus($event, 3, 2)">
        ביטול המס<br />
        <span class="tax-cng">המס יוריד {{ formatNum(taxes[3].total) }}₪</span>
      </button>
      <button class="status-btn status-3" (click)="changeStatus($event, 3, 1)">
        התעלמות מהשינויים <br />
        <span class="tax-cng">השינויים שנעשו במס לא ישפיעו על המאזן</span>
      </button>
    </div>
  </div>
</div>

<div class="other-tax">
  <button class="other-tax-btn" (click)="changeTax($event, 4)">
    אחר<br />
    <span class="tax-cng">(סה"כ {{ formatNum(taxes[4].diff) }}₪)</span>
  </button>
</div>

<div class="tax-input">
  <div [hidden]="!(currTax == 'delek')||taxes[1].status.ignore||taxes[1].status.cancel">
    <p>
      <app-single-value-tax
        (onChange)="lastDiff = taxes[1].diff = $event.value; taxes[1].cng = $event.rate"
        (onLoad)="taxes[1].total = $event.total"
        tax_type="delek"
        total_diff="{{totalDiff()-taxes[1].diff}}"
      ></app-single-value-tax>
    </p>
  </div>

  <div [hidden]="!(currTax == 'maam')||taxes[2].status.ignore||taxes[2].status.cancel">
    <p>
      <app-single-value-tax
        (onChange)="lastDiff = taxes[2].diff = $event.value; taxes[2].cng = $event.rate"
        (onLoad)="taxes[2].total = $event.total"
        tax_type="maam"
        total_diff="{{totalDiff()-taxes[2].diff}}"
      ></app-single-value-tax>
    </p>
  </div>

  <div [hidden]="!(currTax == 'tabak')||taxes[3].status.ignore||taxes[3].status.cancel">
    <p>
      <app-single-value-tax
        (onChange)="lastDiff = taxes[3].diff = $event.value; taxes[3].cng = $event.rate"
        (onLoad)="taxes[3].total = $event.total"
        tax_type="tabak"
        total_diff="{{totalDiff()-taxes[3].diff}}"
      ></app-single-value-tax>
    </p>
  </div>

  <div [hidden]="!(currTax == 'other')">
    <p>נסה מס אחר :</p>
    <app-joker-tax
      (onChange)="lastDiff = taxes[4].diff = $event.value"
      (onLoad)="taxes[4].total = $event.total"
    ></app-joker-tax>
  </div>
</div>

<div style="text-align: center">
  <div class="tax-result">
    <p>
      הכנסות נוכחיות <br />
      <span class="res-value" id="curr-inc">{{ formatNum(totalIncome) }}</span>₪
    </p>
    <p>
      הפרש <br />
      <span class="res-value" id="diff">{{ formatNum(totalDiff()) }}</span>₪
    </p>
    <p>
      הכנסות חדשות <br />
      <span class="res-value" id="new-inc">{{ formatNum(totalIncome + totalDiff()) }}</span>₪
    </p>
  </div>
</div>
<div style="text-align: center;">
  <p>[הנתונים נכונים לשנת 2020]</p>
</div>

<div class="extra-links-cover">
  <h3 style="text-align: center; color:#ff5a5f;">אם מעניין אותכם ללמוד עוד על החלטות הממשלה והמדיניות הכלכלית שלה - אנו ממליצים על שלושת גופי המחקר הבאים:</h3>
  <div class="extra-links">
    <div>
      <h4>מכון קהלת</h4>
      מכון מחקר ומעשה עצמאי הפועל מירושלים להבטחת עתידה של ישראל כמדינת הלאום של העם היהודי, לחיזוק הדמוקרטיה הייצוגית, הרחבת חירויות הפרט והעמקת עקרונות השוק החופשי.
    </div>
    <div class="middle-extra-link">
      <h4>מכון הישראלי לדמוקרטיה</h4>
      מוסד עצמאי א-מפלגתי, מחקרי ויישומי, הפועל בזירה הציבורית הישראלית בתחומי הממשל, הכלכלה והחברה. יעדיו הם חיזוק התשתית הערכית והמוסדית של ישראל כמדינה יהודית ודמוקרטית, שיפור התפקוד של מבני הממשל והמשק, גיבוש דרכים להתמודדות עם אתגרי הביטחון מתוך שמירה על הערכים הדמוקרטיים וטיפוח שותפות ומכנה משותף אזרחי בחברה הישראלית רבת הפנים.
    </div>
    <div>
      <h4>מרכז אדוה</h4>
      מכון מחקר המתמחה בניטור של מגמות חברתיות וכלכליות ובניתוח של המדיניות הממשלתית אל מול מגמות אלה. מרכז אדוה בוחן את המגמות ואת המדיניות לפי אמות המידה של שוויון וצדק חברתי. מלאכת הניטור של מרכז אדוה נסמכת על מאגרי נתונים עשירים ומגוונים, המאפשרים לעקוב אחר התפתחויות בתחום הפיתוח הכלכלי כמו גם בתחום השוויון החברתי.
    </div>
  </div>
</div>
