.tax-selection {
  text-align: center;

  button.tax-btn {
    background-color: inherit;
    border: none;
    outline: none;
    cursor: pointer;
    padding: 14px 16px;
    transition: 0.3s;
    padding: 20px 5%;
  }
  button.tax-btn:hover {
    background-color: #ddd;
  }
  button.active {
    background-color: #ccc;
  }

  .tax-cng {
    opacity: 75%;
  }
}

.tax-input {
  text-align: center;
  margin: 20px;
  p {
    display: inline-block;
    margin: 0 10%;
  }
}

.tax-result {
  text-align: center;
  margin: 20px;
  p {
    display: inline-block;
    margin: 0 10%;
  }
}
