<div class="button1">
  <div ng-controller="ctrl">
    <!--number input of income-->
    <input
      #income
      type="number"
      ng-model="income"
      placeholder="שכר חודשי ₪"
      [min]="0"
    />
  </div>
  <br />

  <div>
    <!--number input of number of kids-->
    <input #kids type="number" ng-model="kids" placeholder="מספר ילדים" />
  </div>
  <br />
  <div>
    <!--select input of type of home-->
    <select
      #type
      name="type"
      id="property-type"
      class="form-control"
      ngModel
      required
    >
      <option *ngFor="let type of propertyTypes" [value]="type">
        {{ type }}
      </option>
    </select>
  </div>
  <br />
  <div>
    <div class="calc">
      <!--calc button-->
      <button (click)="logval(income.value, kids.value, type.value)">
        חשב
      </button>
    </div>
  </div>
  <div>
    <div class="ans1">
      <!--ans after calc-->
      <br />
      <span class="blackText">{{ ans1 }}</span>&nbsp; <span class="redText">{{ ans2 }}</span>&nbsp;<span class="blackText">{{ ans3 }}</span>
    </div>
      <div class="ans1">
        <br />
      {{ ans5 }}
      <br />
      <br />
      <!--img disply based on ans-->
      <div class="imgs" style="display:{{ imgstr }}">
        <img src="{{ img1 }}" target="_self" width="350" height="200" />
      </div>
    </div>
  </div>
</div>
