<div class="cover">
  <div class="top">
    <br>
    הכנסות מיסים לפי תעשיות
    <!-- כותרת -->
    <br>
    <br>
  </div>
  <div class="industries">
    <div class="industry" *ngFor="let industry of industryData">
      <p [ngStyle]="{'font-size': industry.headerSize*1.2+'rem'}" class="industry-caption">{{industry.name}}</p>
      <p [ngStyle]="{'font-size': industry.headerSize+'rem'}">{{valueIntoMillions(industry.amount)}}₪</p>
    </div>
  </div>

  <div class="big-header">פילוח גאוגרפי</div>
  <div class="para">לפניכם מפה אשר מחלקת את הכנסות המדינה לפי רשויות</div>
  <map></map>
</div>