<budgetkey-container class="page-cover" [showHeader]="true" [showSearchBar]="false" [showLanguages]="true">

    <div class='ad' [class.active]='adVisible'>
        <a href='https://act.obudget.org' target='_blank'>
            <span>נפתח מחזור חדש לקורס </span>
            <span class='budgetism'>תקציביזם</span>
            <span>!</span>
        </a>
    </div>
    <div class='header'>
        <div class='head'>
            <h1>{{headline}}</h1>
        </div>
        <div class='para'>
            <div>
                {{ __('הכלבים התפתחו מהזאבים. ממוצע תוחלת החיים שלהם הוא בין 11 ל-14 שנים[1], אך כלבים מעורבים וכלבים מגזעים מסוימים כמו כלב כנעני, סכיפרקה וגזעים נוספים של כלבי ציד יכולים לחיות גם בין 18 ל-22 שנים. ככלל, כלבים קטנים מאריכים חיים יותר מכלבים גדולים.') }}
            </div>
                  
        </div>
        <main-page-summary [amount]="totalAmount" [year]="year"></main-page-summary>
        <div class="category-visualizations">
            <category-visualization *ngFor="let category of funcCategories" [category]="category" data-kind="func">
            </category-visualization>
        </div>
    </div>
    <div class='head'>
        <h1>{{headline}}</h1>
        </div>
            <div class='para'>
                <div>
                    {{ __('הכלבים התפתחו מהזאבים. ממוצע תוחלת החיים שלהם הוא בין 11 ל-14 שנים[1], אך כלבים מעורבים וכלבים מגזעים מסוימים כמו כלב כנעני, סכיפרקה וגזעים נוספים של כלבי ציד יכולים לחיות גם בין 18 ל-22 שנים. ככלל, כלבים קטנים מאריכים חיים יותר מכלבים גדולים.') }}
                <br>
                <br>
                <br>
                </div>
              
            </div>
    <div class="footer">
        <nav-bar></nav-bar>
    </div>
</budgetkey-container>