<budgetkey-container class="page-cover" [showHeader]="true" [showSearchBar]="false" [showLanguages]="true">
    <div class='ad' [class.active]='adVisible'>
        <a href='https://act.obudget.org' target='_blank'>
            <span>נפתח מחזור חדש לקורס </span>
            <span class='budgetism'>תקציביזם</span>
            <span>!</span>
        </a>
    </div>
    <div class='header'>
        <div class='head'>
            <h1>{{ 'HOME.TITLE' | translate }}</h1>
        </div>
        <div class='para'>
            <div>{{ 'HOME.TEXT' | translate }}
                <!-- ברוך הבא למקור הכסף, מטרת האתר היא להנגיש את הכנסות המדינה לציבור הרחב.
                אנחנו מנסים להציג לכם את כלל הנתונים אשר בידנו.
                מפילוח ההכנסות בצורה הכללית ביותר עד לאפשרות להגיע לכל רכיב ספציפי ככל שיהיה בהכנסות תקציב המדינה. -->
            </div>

            <div style="padding-top: 1rem;">
                האתר הוא חלק מפרויקט <a style="font-weight: bold; color:#ff6666" href="https://next.obudget.org/">"מפתח
                    התקציב"</a> שמנגיש את כל המידע על תקציב המדינה ועל הוצאות הממשלה.
                אם אתם מחפשים משהו מסוים אז אתם מוזמנים להיכנס <a
                    href="https://next.obudget.org/s/?q=&dd=all&range=all&lang=he&theme=budgetkey"
                    style="font-weight: bold; color:#ff6666">לחיפוש</a>, אם אחרת - יאללה תתחילו לגלול.
            </div>
        </div>
        <main-page-summary [amount]="totalAmount" [year]="year"></main-page-summary>
        <div class="category-visualizations">
            <category-visualization #bubbles *ngFor="let category of funcCategories" [category]="category"
                data-kind="func">
            </category-visualization>
        </div>

    </div>
    <div class='para' style="margin: 6rem 0;">
        <div>
            ניתן לראות בגרפים למעלה חלוקה גסה של הכנסות תקציב המדינה. אם תרצו תמשיכו לגלול ותגיעו למספר סוגיות אשר
            מאפשרות לכם
            להבין יותר לעומק את הכנסות תקציב המדינה.
        </div>
    </div>
    <div class="footer">
        <nav-bar [giraon]="giraon" [fetchedData]='data'></nav-bar>
    </div>
</budgetkey-container>