<budgetkey-container class="page-cover" [showHeader]="true" [showSearchBar]="false" [showLanguages]="true">
    <div class='ad' [class.active]='adVisible'>
        <a href='https://act.obudget.org' target='_blank'>
            <span>נפתח מחזור חדש לקורס </span>
            <span class='budgetism'>תקציביזם</span>
            <span>!</span>
        </a>
    </div>
    <div class='header'>
        <label for="">
            {{ 'HOME.SELECT' | translate }}
            <select #langselect (change)="translate.use(langselect.value)">
                <option *ngFor="let lang of translate.getLangs()" [value]="lang">{{lang}}</option>
            </select>
        </label>

        <div class='head'>
            <h1>{{ 'HOME.TITLE' | translate }}</h1>
        </div>
        <div class='para'>
            <div>
                {{ 'HOME.TEXT' | translate}}
            </div>

        </div>
        <main-page-summary [amount]="totalAmount" [year]="year"></main-page-summary>
        <div class="category-visualizations">
            <category-visualization #bubbles *ngFor="let category of funcCategories" [category]="category"
                data-kind="func">
            </category-visualization>
        </div>

    </div>
    <div class='head'>
        <h1>{{headline}}</h1>
    </div>
    <div class='para'>
        <div>
            ניתן לראות בגרפים למעלה חלוקה גסה של הכנסות תקציב המדינה. אם תרצו תמשיכו לגלול ותגיעו למספר סוגיות אשר
            מאפשרות לכם
            להבין יותר לעומק את הכנסות תקציב המדינה.
            <br>
            <br>
            <br>
        </div>

    </div>
    <div class="footer">
        <nav-bar [fetchedData]='data'></nav-bar>
    </div>
</budgetkey-container>