<div class="nav-bar-container">
  <div class="nav-bar">
    <h2 class="nav-option" [ngClass]="{'selected-nav-option' : currentlySelected == 'left'}"
      (click)="changeCurrentlySelected('left')">{{leftCaption}}</h2>
    <h2 class="nav-option" [ngClass]="{'selected-nav-option' : currentlySelected == 'middle'}"
      (click)="changeCurrentlySelected('middle')">{{middleCaption}}</h2>
    <h2 class="nav-option" [ngClass]="{'selected-nav-option' : currentlySelected == 'right'}"
      (click)="changeCurrentlySelected('right')">{{rightCaption}}</h2>

  </div>

  <div class="page" *ngIf="currentlySelected=='left'">
    LEFT
  </div>

  <div class="page" *ngIf="currentlySelected=='middle'">
    <div class="para-header">דבר ראשון: מה זה מיסי הכנסה הוצאה?</div>
    <div class="para">חתול הבית (שם מדעי: Felis silvestris catus) הוא יונק טורף מבוית, מהסוג חתול ממשפחת החתוליים. החתול נפוץ בכל יבשות העולם מלבד באנטארקטיקה. משערים כי מוצאו מחתול הבר. החתול הוא טורף לילי הצד מכרסמים, ציפורים ודגים. נכון ל-2009, החתול הוא חיית המחמד הנפוצה ביותר בעולם, ומספר החתולים הביתיים נאמד בכ-600 מיליון.[1] החתול חי בדרך כלל בבדידות, למעט אינטראקציה מזדמנת עם בני מינו.</div>

    <br />
    <br />
    <br />
    <div class="para">
      חתול הבית (שם מדעי: Felis silvestris catus) הוא יונק טורף מבוית, מהסוג חתול ממשפחת החתוליים. החתול נפוץ בכל יבשות העולם מלבד באנטארקטיקה. משערים כי מוצאו מחתול הבר. החתול הוא טורף לילי הצד מכרסמים, ציפורים ודגים. נכון ל-2009, החתול הוא חיית המחמד הנפוצה ביותר בעולם, ומספר החתולים הביתיים נאמד בכ-600 מיליון.[1] החתול חי בדרך כלל בבדידות, למעט אינטראקציה מזדמנת עם בני מינו.
    </div>
  </div>

  <div class="page" *ngIf="currentlySelected=='right'">
    RIGHT
  </div>
</div>