<div class="nav-bar-container">
  <div class="nav-bar">
    <h2 class="nav-option" [ngClass]="{'selected-nav-option' : currentlySelected == 'left'}"
      (click)="changeCurrentlySelected('left')">{{leftCaption}}</h2>
    <h2 class="nav-option" [ngClass]="{'selected-nav-option' : currentlySelected == 'middle'}"
      (click)="changeCurrentlySelected('middle')">{{middleCaption}}</h2>
    <h2 class="nav-option" [ngClass]="{'selected-nav-option' : currentlySelected == 'right'}"
      (click)="changeCurrentlySelected('right')">{{rightCaption}}</h2>

  </div>

  <div class="page" *ngIf="currentlySelected=='left'">
    LEFT
  </div>

  <div class="page" *ngIf="currentlySelected=='middle'">
    <div class="para-header">דבר ראשון: מה זה מיסי הכנסה הוצאה?</div>
    <div class="para">aaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaaaaaaaaaaa aaaaaaaaaaaaaaaaa</div>

    <br />
    <br />
    <br />
    <div class="para">
      ניתן לראות בגרפים למעלה חלוקה גסה של הכנסות תקציב המדינה. אם תרצו תמשיכו לגלול ותגיעו למספר סוגיות אשר מאפשרות לכם
      להבין יותר לעומק את הכנסות תקציב המדינה.
    </div>
  </div>

  <div class="page" *ngIf="currentlySelected=='right'">
    RIGHT
  </div>
</div>