.nav-bar-container {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100vw;
  margin-top: 2rem;
  scroll-snap-align: top;
}

.nav-bar {
  width: 80vw;
  display: flex;
  justify-content: stretch;
  flex-direction: row-reverse;
  height: 100%;

  @media (max-width: 800px) {
    width: 100vw;
  }
}

.nav-option {
  width: 34vw;
  text-align: center;
  cursor: pointer;
  color: lightgray;
  height: 100%;
  transition: 0.3s;
}

.middle-nav-bar {
  border: solid lightgray;
  border-width: 0 2px;
}

.selected-nav-option {
  color: #ff6666;
}

.page {
  position: relative;
  margin-top: 2rem;
  min-height: 100vh;
  width: 100vw;
}

.para-header {
  position: relative;
  margin-right: 20vw;
  font-size: 3rem;
  font-family: inherit;
  color: #ff6666;
}

.para {
  width: 50vw;
  font-size: 2rem;
  margin-right: 25vw;
  font-family: inherit;
}

.left {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  color: #ff6666;
  font-size: 3rem;
}

.Industries {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.imgs {
  display: flex;
  width: 100%;
  justify-content: center;
  flex-direction: column;
  align-items: center;
  font-size: 2rem;
}

.Industries div {
  text-align: center;
  font-size: 2rem;
}